@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
 font-family: 'Roboto', sans-serif;
 background-color: #e9ecef;
}

.container{
  background-color: #17a2b8;
  padding: 10px;
  font-style: bold;
}

.marketing{
  background-color: #737373;
}

.card{
  background-color: #17a2b8 !important
}

.card-body{
  background-color:#3b646bcf;
  height: 6em;
}






.bg-light{
  background-color: #ffffff!important
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
.navbar-nav{
  text-transform: uppercase;
  font-weight: 600;
  background-color: #17a2b8;
  padding: 0.75em;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: orange !important;
}
.carousel-caption {
  color: black;
}

a {
  color: #000000;
}

.headline{
  color: #17a2b8;
}
header{
  background-color: white;
}
.footer{
    /* bottom: 0px; */
    width: 100%;
    height: auto;
    line-height: 60px;
    background-color: #17a2b8;
    color: white;
    /* margin-bottom: 16px; */
    position: absolute;
}
.page-footer{
  color: white;
  background-color: var(--info);
}
.jumbotron{
  background-color: white;
}
.card-title {
  margin-bottom: .75rem;
  font-weight: bold;
  color: white;
}



@media (min-width: 1200px){
  .container {
    max-width: 80% !important;
  }
  .myLogo{
    width: 30% !important;
    position: relative;
    margin: 0 20%;
  }
}