<div class="jumbotron" style="padding:10px;">
                    <h1 class="display-4 headline"><center><b>About Us</b></center></h1>
                    <hr class="my-4">
                    <div class="row" style="margin:0 15%;">
                        <div class="col-lg-6">
                            <h4 class="lead headline"><b>WE ARE IMPORTERS AND SUPPLIER OF</b>
                            </h4>
                            <p class="lead">
                                <ul>
                                    <li>Camlock & Couplings</li>
                                    <li>Storz Couplings</li>
                                    <li>Mechanical Seals</li>
                                    <li>Cland packing To Suit Our Customers Needs</li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="lead headline"><b>WE IMPORT AND SUPPLY COUPLINGS TO</b>
                            </h4>
                            <p class="lead">
                                <ul>
                                    <li>Food Industries</li>
                                    <li>Petroleum Tanks</li>
                                    <li>Dry Bulk Tank</li>
                                    <li>Mining Industries</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <h4 class="lead headline"><center><b>GLAND PACKING & MECHANICAL SEALS</b></center></h4>
                    <hr class="my-4">
                    <center><p>We Import And Supply A Variety Of Seals And Gland Packing To meet the Customers Needs.</p></center>
        
                    <h4 class="lead headline"><center><b>OUR GOAL IN OUR BUSINESS</b></center>
                    </h4>
                    <hr class="my-4">
                   <p>
                        <center>
                            <li>To Supply Long Lasting Quality Products.
                            </li>
                            <li>
                                To Make Your Sealing Solution Our Problem.
                            </li>
                      
                    </center>
                    </p>
            
                </div>

    </div>
